name: "Sample React CI Pipeline / Workflow"

on:
    push:
        branches:
            - main
            - test

jobs:
    build-and-test:
        runs-on: ubuntu-latest

        steps:
            - name: "Setup Node JS"
              uses: actions/setup-node@v6
              with:
                node-version: '21'

            - name: "Check node Version"
              run: node --version

            - name: "Clone the repository"
              uses: actions/checkout@v6

            - name: "Install dependencies"
              run: npm install













